@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Poppins', sans-serif;
}


body {
    overflow-x: hidden;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #d8a860;
    display: flex;
    justify-content: center;
    align-content: center;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.banner .content {
    position: relative;
    top:300px;
    max-width: 750px;
    text-align: center;
}

.banner .content h2 {
    color: #fff;
    font-size: 60px;
}

.banner .content p {
    color: #fff;
    font-size: 18px;
}

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10000;
}

.banner header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    
}

.banner header .toggle {
    position: relative;
    width: 38px;
    height: 28px;
    background: url('../assets/images/my/assets/toggle.png');
    background-size: cover;
    cursor: pointer;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
    background: #162c3b;
}

.about .contentBx {
    background: #162c3b;
    padding: 100px;
    width: 50%;
}

.heading {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.about .imgBx {
    background: url('../assets/images/cfar-500x362.jpg');
    background-repeat: no-repeat;
    width: 30%;
    height: 450px;
    background-size: cover;
    background-position: center;
    top: 100px;
}

.services {
    background: #12222d;
    padding: 100px;
    text-align: center;
}

.services .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.services .container .serviceBx {
    position: relative;
    background: #fff;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.services .container .serviceBx img {
    max-width: 100px;

}

.services .container .serviceBx h2 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

.technology {
    background: #3f8ffc;
    width: 100%;
    padding: 100px;
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technology .contentBx {
    max-width: 800px;
}

.technology .imgBx {
    max-width: 550px;
}

.technology .imgBx img {
    max-width: 100%;
}

.client {
    background: #162c3b;
    padding: 100px;
    text-align: center;
}

.client .imgBx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.client .imgBx img {
    max-width: 200px;
    margin: 20px;
    opacity: 0.25;
    cursor: pointer;
}
.client .imgBx img:hover {
    opacity: 1;
}

.testimonials {
    position: relative;
    padding: 100px;
    background: #12222d;
    text-align: center;
}

.testimonials .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.testimonials .container .contentBx {
    background: #fff;
    padding: 60px 50px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.testimonials .container .contentBx p {
    font-style: italic;
}


.testimonials .container .contentBx h3 {
    width: 100%;
    text-align: end;
    font-weight: 500;
    color: #3f8ffc;
}

.contact {
    padding: 100px;
    background: #162c3b;
    text-align: center;
}

.imgBx2 {
    background: url('../assets/images/Medical-van-and-team-2-500x362.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
}

.redbg {
    background: url('../assets/images/my/assets/red.jpg') !important;
    background-size: cover;
    background-position: center;
}

.form .inputBx {
    margin-bottom: 40px;
}

.form .inputBx input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.form .inputBx input::placeholder {
    color: #fff;
}

.form .inputBx textarea {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    min-height: 150px;
    border-bottom: 2px solid #fff;
}

.form .inputBx textarea::placeholder {
    color: #fff;
}

.form .inputBx input[type="submit"] {
    width: 150px;
    background: #fff;
    color: #111;
    cursor: pointer;
    font-weight: 400;
}

.footer {
    background: #162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.footer ul li a img {
    filter: invert(1);
    max-width: 20px;
}

@media (max-width: 991px) {
    .banner {
        padding: 50px;
    }
    .banner header {
        padding: 20px 50px;
    }
    .banner .content h2 {
        font-size: 36px;
    }
    .banner .content p {
        font-size: 16px;
    }
    .about {
        flex-direction: column;
    }
    .about .contentBx, .about .imgBx {
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }
    .services {
        padding: 50px;
    }
    .services .container {
        justify-content: center;
        margin-top: 20px;
    }
    .services .container .serviceBx{
        margin: 20px;
        width: 300px;
        height: 350px;
    }
    .technology {
        padding: 50px;
        padding-top: 300px;
        justify-content: center;
        flex-direction: column;
    }
    .technology .imgBx {
        margin-top: 40px;
        max-width: 250px;
    }
    .client {
        padding: 50px;
    }
    .client .imgBx {
        justify-content: center;
    }
    .testimonials {
        padding: 50px;
    }
    .testimonials .contentBx {
        padding: 60px 40px;
        max-width: 550px;
        margin-bottom: 40px;
    }
    .testimonials .contentBx:last-child {
        margin-bottom: 0px;
    }
    .contact {
        padding: 50px;
    }
    .footer {
        padding: 50px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer ul {
        margin-bottom: 20px;
    }

}

/* ********************************************************************************************************** */


body {
    background: #f2f2f2;
}

nav {
    /* background: #1b1b1b; */
    background: rgba(0,0,0, 0.1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding-top: 10px;
    position: fixed;
    top: 0px;
    text-align: center;
    transition: .5s;
}



nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px; 
}

#logo {
    position: unset;
    width: 100px;
    height: 50px;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
   float: left; 
   display: inline-block;
   /* background: #1b1b1b; */
   /* background: rgba(0,0,0, 0.1); */
   margin: 0 5px;
}

nav ul li a {
    color: white;
    color: black;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 0px 15px;
}

nav ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
    0 0 5px #66ffff;
}

nav ul ul li a:hover {
    color: cyan;
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid cyan;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: top .4s;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}

span .fa-plus {
    margin-left: 40px;
    font-size: 15px;
}

/* card */
.container-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 50px 0;
    /* margin: 10px; */
    transform-style: preserve-3d;

}

.container-card .box {
    position: relative;
    width: 350px;
    height: 450px;
    margin: 60px 20px;
    /* background: #000; */
    transform-style: preserve-3d;
}

.box1 {
    background: url('../assets/images/ER-Kirtiput-Hospital-from-website-213x136.jpg');
    background-size: cover;
}

.box2 {
    background: url('../assets/images/my/Charity-Navigator-2014-e1421306633533.jpg');
    background-size: cover;
}

.box3 {
    background: url('../assets/images/COVID-USA-news-pic-1-213x136.jpg');
    background-size: cover;
}

.box4 {
    background: url('../assets/images/covid-1-213x136.jpg');
    background-size: cover;
}

.container-card .box:hover {
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2);
}

.container-card .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-card .box .contentBx {
    position: absolute;
    top: 20%;
    left: 50px;
    right: 50px;
    background: #fff;
    transform: translateZ(20px) scaleY(0);
    padding: 40px 25px;
    transform-origin: top;
    transition: 0.5s;
    transform-style: preserve-3d;
}

.container-card .box:hover .contentBx {
    transform: translateZ(20px) scaleY(1);
}

/* blur card */
.container-blur {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.container-blur .card {
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.container-blur .card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.container-blur .card .circle h2 {
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}

.container-blur .card .content {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
}

.container-blur .card .content p {
    color: #666;
    
}

.container-blur .card .content a {
   position: relative;
   display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}

.container-blur .card:nth-child(1) .circle,
.container-blur .card:nth-child(1) .content a {
    background: #ffaf00;
}

.container-blur .card:nth-child(2) .circle,
.container-blur .card:nth-child(2) .content a {
    background: #da2268;
}

.container-blur .card:nth-child(3) .circle,
.container-blur .card:nth-child(3) .content a {
    background: #bb02ff;
}

.container-blur:hover .card {
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}

.container-blur .card:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}